<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Instagram</title>

        <script src='{% static "js/jquery-3.7.1.js" %}'></script>
        {% comment %} <script src='{% static "js/script.js" %}'></script> {% endcomment %}
    </head>

    <body>
        {% block content %}

        {% endblock content %}
    </body>
</html>